<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/DELL/Downloads/PlaywrightJava-main/TestNGPractice/src/test/java/Testing/DataProviderClass.java"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/DELL/Downloads/PlaywrightJava-main/TestNGPractice/src/test/java/Testing/Login.java"><classes/></test><test verbose="2" preserve-order="true" name="C:/Users/DELL/Downloads/PlaywrightJava-main/TestNGPractice/src/test/java/Testing/Pojo.java"><classes><class name="Testing.Pojo"><methods><include name="verifyLoggedIn"/><include name="clickInfo"/><include name="verifyHeader"/></methods></class></classes></test></suite>